.home-page {
    .moto {
        color: #fff;
        font-family: OpenSans;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
    }

    .content {
        padding: 20px 40px;
    }

    .bachelor-card {
        max-width: 928px;
        max-height: 528px;
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 12px;
        padding-top: 56px;

        .bach-img {
            height: 104%;
            width: 102.5%;
            top: -4px;
            left: -10px;
            position: absolute;
        }

        p {
            &.header {
                font-family: OpenSans !important;
                font-size: 32px !important;
                font-weight: 300;
                color: #fff !important;
                text-align: center;
                padding-bottom: 40px;
            }

            .internet-of-things {
                display: block;
            }

            &.content {
                padding: 0 80px;
                text-align: center;
                font-family: AvenirNext !important;
                font-size: 18px !important;
                color: #fff !important;
                position: relative;
            }
        }

        .button-container {
            text-align: center;
            margin: 48px 0;
        }
    }
}
