.home-page {
    .moto {
        color: #fff;
        font-family: OpenSans;
        font-size: 32px;
        font-weight: 300;
        text-align: center;
    }

    .content {
        padding: 20px 40px;
    }

    .bachelor-card {
        max-width: 928px;
        max-height: 528px;
        width: 100%;
        position: relative;
        border-radius: 12px;
        padding-top: 48px;
        margin-right: 40px;

        .bach-img {
            height: 104%;
            width: 102.5%;
            top: -4px;
            left: -10px;
            position: absolute;
        }

        p {
            &.header {
                font-family: OpenSans !important;
                font-size: 32px !important;
                font-weight: normal !important;
                color: #fff !important;
                text-align: center;
                padding-bottom: 40px;
            }

            .internet-of-things {
                display: block;
            }

            &.content {
                padding: 0 80px;
                text-align: center;
                font-family: AvenirNext !important;
                font-size: 18px !important;
                color: #fff !important;
                position: relative;
            }
        }

        .button-container {
            text-align: center;
            margin: 48px 0;
        }
    }

    .side-block {
        height: 140px;
        border-radius: 16px;
        max-width: 408px;
        min-width: 350px;
        margin-bottom: 22px !important;
        width: 100%;

        .side-img {
            margin-left: -1px;
            margin-top: -1px;
            height: 102%;
        }

        p {
            &.type {
                text-transform: uppercase;
                font-family: OpenSans;
                font-size: 14px;
                margin: 18px 0 11px -28px;
            }

            &.side-block-header {
                font-family: AvenirNext;
                font-size: 20px;
                color: #232323;
                margin: 0 0 13px -28px;
            }

            &.additional {
                font-family: AvenirNext;
                font-size: 14px;
                color: #232323;
                opacity: 0.5;
                margin: 0 0 13px -28px;
            }
        }
    }
}

.purple-text {
    color: #9013fe;
}

.red-text {
    color: #ff1259;
}

.orange-text {
    color: #ff6912;
}
