@import "header.scss";
@import "home-page.scss";
@import "subjects-page.scss";

.form-card,
.ui.card.form-card {
    max-width: 500px !important;
    width: 100%;
    padding: 28px 52px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px,
        rgba(0, 0, 0, 0.05) 0px 3px 10px;
}

.centered-card,
.ui.card.centered-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit-button-container {
    text-align: right;
}
