.login-page {
    .login-form-card {
        max-width: 480px;
        width: 100%;
        padding: 24px 48px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .submit-button-container {
            text-align: right;
        }
    }
}
